.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
content/*.DS_Store
data/*.DS_Store
*/.DS_Store
.Rdata
.httr-oauth
.quarto
.DS_Store
Thumbs.db
.hugo_build.lock

#because i use netlify to build site:

/public/
/resources/
